
@inject LocService SharedLocalizer
@using KetoPal.Identity.Resources
@model KetoPal.Identity.ViewModels.Account.RegisterViewModel
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("REGISTER");
}
<div class="brand-header-block">
    <ul class="container">
        <li class="active">Create your account.</li>
        <li style="margin-right: 65px;"><a asp-area="" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">Sign In</a></li>
    </ul>
</div>
<div class="container register-container">
    <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
        <h4 class="order-create-section-title"> @SharedLocalizer.GetLocalizedHtmlString("CREATE_A_NEW_ACCOUNT")</h4>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label asp-for="Email" class="control-label form-label">@SharedLocalizer.GetLocalizedHtmlString("EMAIL")</label>
                <input asp-for="Email" class="form-control form-input" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label asp-for="UserName" class="control-label form-label">UserName</label>
                <input asp-for="UserName" class="form-control form-input" />
                <span asp-validation-for="UserName" class="text-danger" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label asp-for="Password" class="control-label form-label">@SharedLocalizer.GetLocalizedHtmlString("PASSWORD")</label>
                <input asp-for="Password" class="form-control form-input" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label asp-for="ConfirmPassword" class="control-label form-label">@SharedLocalizer.GetLocalizedHtmlString("CONFIRM_PASSWORD")</label>
                <input asp-for="ConfirmPassword" class="form-control form-input" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label asp-for="PhoneNumber" class="control-label form-label"></label>
                <input asp-for="PhoneNumber" class="form-control form-input" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <br /><br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary btn-brand">@SharedLocalizer.GetLocalizedHtmlString("REGISTER")</button>

            </div>
        </div>
        <br /><br />
    </form>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
